/* 广告css */

/* 主体两边对联广告(已去掉) */
.a1,.a2 {

	position: absolute;
	width: 125px;
	height: 320px;
	overflow: hidden;
}
.a1 img, .a2 img {
	width: 125px;
	height: 320px;
} 
.a1 {
	left: -145px;
}
.a2 {
	right: -145px;
}

/* 720px宽度下的一行三列广告 */
.a3-wrap {
	margin: 0 -9px 10px 0;
	overflow: hidden;
}
.a3-wrap:before,.a3-wrap:after {
	display: table;
	line-height:0;
	content:"";
}
.a3-wrap:after {
	clear: both;
}
.a3-wrap {
	*zoom: 1;
}
.a3 {
	float: left;
	margin-right: 10px;
	width: 231px;
	height: 78px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #D4D4D4;
}
.a3 img {
	width: 231px;
	height: 78px;
}

/* 个人中心左边栏广告 */
.a4 {
	margin: 10px 0;
	width: 210px;
	text-align: center;
}
.a4 img {
	width: 200px;
	height: 200px;
}

/* 个人中心右边广告 */
.a5 {
	margin: 50px auto 0;
	width: 728px;
	min-height: 60px;
	text-align: center;
}
.a5 img {
	width: 200px;
	height: 200px;
}

/* 横幅广告 */
.aw720,.aw270,.a7-wrap {
	margin-bottom: 10px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #D4D4D4;
	background-color: #fff;
}
.aw720 {	
	width: 718px;
}
.aw270 {
	width: 268px;
}
.aw720 img, .aw270 img {
	max-width: 100%;
}

/* 微信下面的广告 */
.a6 {
	margin-bottom: 20px;
	padding: 6px 9px;
	width: 250px;
	height: 250px;
	text-align: center;
	overflow: hidden;
	border: 1px solid #D4D4D4;
	background-color: #fff;
}
.a6 img {
	width: 250px;
	height: 250px;
}

/* 边栏多图广告 */
.a7-wrap {
	padding: 10px;
	width: 248px;
}
.a7-wrap a {
	display: block;
	margin-bottom: 10px;
}
.a7-wrap a:last-child {
	margin-bottom: 0;
}
.a7-wrap img {
	max-width: 248px;
}

/* 广告高度 */
.h60,.h60 img {
	height: 60px;
}
.h80,.h80 img {
	height: 80px;
}
.h90,.h90 img {
	height: 90px;
}
.h100,.h100 img {
	height: 100px;
}